.detail{
  background: url(../img/header-bg.jpg);
  width: 100%;
  padding: 50px 15px;
  color: #5a3500;
  p{
    font-family: 'AngryBirds';
    color: #5a3500;
  }
  h2{
    font-family: '13888';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    color: #5a3500;
  }
}

.detail__content{
  position: relative;
  span{
    position: absolute;
    left: 25%;
    top: -50px;
    font-size: 100px;
    opacity: .2;
  }
}
