.slider{
  padding: 50px 0;
  padding-bottom: 150px;
  background: linear-gradient( 90deg, #484f62, #252b3c);
  img{
    margin: 0 auto;
    max-height: 500px;
    width: 500px;
    @include phones{
      background-size: cover;
      width: 100%;
      height: auto;
    }
  }
  h2{
    color: #fff;
  }
}

.carousel-indicators{
  bottom: -140px;
}

.carousel-indicators li{
  border: none;
  background: url(../img/pic-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  &:hover{
    opacity: 1;
  }
}

.carousel-indicators li:nth-child(2){
  background: url(../img/pic-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-indicators li:nth-child(3){
  background: url(../img/pic-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
