.time{
  width: 100%;
  margin-bottom: 50px;
}

.time__content{
  padding: 15px;
  background: url(../img/header-bg.jpg);
  h3{
    font-family: '13888';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
  }
  p{
    font-family: '13888';
    font-weight: normal;
    font-style: normal;
    color: #5a3500;
  }
}

.time__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time__data-number{
  width: 30px;
  height: 30px;
  background: #fff;
  color: #000;
  font-weight: bold;
}

.btn{
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient( 90deg, #ffe15a, #ffb022);
  margin-bottom: 10px;
}

.time__content p span{
  color: #000;
  border-radius: 2px;
  padding: 5px;
  background: #ffb022;
}

.form input{
  border-color: #5a3500;
  background: rgba(#fff, .5);
}
