
.time__content{
  padding: 15px;
  background: url(../img/header-bg.jpg);
  h3{
    font-family: '13888';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
  }
  p{
    font-size: 16px;
    font-family: '13888';
    font-weight: normal;
    font-style: normal;
    color: #5a3500;
  }
}

.btn{
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient( 90deg, #ffe15a, #ffb022);
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 5px;
}

.time__content p span{
  color: #000;
  border-radius: 2px;
  padding: 5px;
  background: #ffb022;
}

.form input{
  border-color: #5a3500;
  background: rgba(#fff, .5);
}

.prices__benefit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  i{
    font-size: 30px;
  }
  p{
    font-size: 20px;
    span{
      font-size: 30px;
      background: none;
      color: #5a3500;
    }
  }
}

.politic{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
  font-size: 14px;
  }
}
