@import "scss/fontawesome";
@import "scss/brands";
@import "scss/regular";
@import "scss/solid";
@import "scss/v4-shims";

@font-face {
	font-family: '13888';
	src: url('../font/13888.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AngryBirds';
	src: url('../font/AngryBirds.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
